@font-face {
  font-family: "Inter";
  src: url("./asset/font/inter/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --lime-breen: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youTube: hsl(348, 97%, 39%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter";
}

body {
  display: flex;
  flex-direction: column;
  color: var(--primary-txt);
  background-color: var(--primary-bg);
}

header,
main {
  padding: 0 1.5em;
}

header {
  padding-top: 1.5em;
}

h1 {
  font-size: 1.5em;
  font-variation-settings: "wght" 400;
  margin-bottom: 0.25em;
}

header p {
  font-variation-settings: "wght" 700;
  font-size: 0.9em;
  color: var(--secondary-txt);
}

/* Header */
.toggle-theme {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  padding: 2em 0 4em 0;
  border-top: 2px solid var(--card-bg);
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.25em;
  height: 1.5em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--toggle);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.25em;
  width: 1.25em;
  left: 3px;
  bottom: 2px;
  background-color: var(--primary-bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: var(--toggle);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card {
  display: flex;
  width: 100%;
  background: var(--card-bg);
  position: relative;
  border-radius: 0.25em;
  padding: 2em 2em;
}

.number {
  font-size: 4em;
  color: var(--primary-txt);
  font-variation-settings: "wght" 700;
}

/* User Section */
.user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-section__card {
  flex-direction: column;
  align-items: center;
  border-top: 0.25em solid white;
  margin-bottom: 2em;
}

.user-section__card--facebook {
  border-color: var(--facebook);
}

.user-section__card--twitter {
  border-color: var(--twitter);
}

.user-section__card--insta:before {
  content: "";
  height: 0.25em;
  width: 100%;
  background: var(--instagram);
  position: absolute;
  top: -0.25em;
  left: 0;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.user-section__card--youTube {
  border-color: var(--youTube);
}

.user-section__username {
  display: flex;
  color: var(--secondary-txt);
  font-size: 0.75em;
  font-variation-settings: "wght" 700;
}

.user-section__username img {
  margin-right: 0.75em;
}

.user-section__sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0;
}

.user-section__followers {
  color: var(--secondary-txt);
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.stat {
  display: flex;
  align-items: center;
  font-variation-settings: "wght" 700;
}

.stat img {
  margin-right: 0.3em;
}

.stat--up {
  color: var(--lime-breen);
}

.stat--down {
  color: var(--bright-red);
}

/* Overview Section */

.overwiew-section {
  margin-top: 2em;
}

.overwiew-section h1 {
  margin-bottom: 1em;
}

.overwiew-section__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.overwiew-section__card-content {
  display: flex;
  justify-content: space-between;
}

.overwiew-section__card-content--top {
  color: var(--secondary-txt);
  margin-bottom: 2em;
  font-variation-settings: "wght" 700;
}

.overwiew-section__card-content--top p {
  font-variation-settings: "wght" 700;
  font-size: 0.9em;
  color: var(--secondary-txt);
}

.overwiew-section__card-content--bottom {
  align-items: baseline;
}

.number--small-card {
  font-size: 2em;
}

/* Footer */
footer {
  font-size: 0.75em;
  text-align: center;
}

footer a {
  color: hsl(228, 45%, 44%);
}
