@font-face {
  font-family: "Inter";
  src: url("./asset/font/inter/Inter-VariableFont_slnt\,wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter";
}

header,
main {
  padding: 0 1.5em;
}

h1,
h2 {
  font-variation-settings: "wght" 400;
}
p {
  color: var(--secondary-txt);
}
header {
  padding-top: 1.5em;
}

header p {
  font-weight: bold;
  font-size: 0.75em;
}

header h1 {
  font-size: 1.25em;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--primary-txt);
  background-color: var(--primary-bg);
}

:root {
  --lime-breen: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youTube: hsl(348, 97%, 39%);
}

.card {
  display: flex;
  width: 100%;
  background: var(--card-bg);
  padding: 2em 0;
  margin-bottom: 1em;
  position: relative;
}

.number {
  font-size: 4em;
  color: var(--primary-txt);
  font-variation-settings: "wght" 700;
}

/* User Section */
.user-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.user-section__card {
  flex-direction: column;
  align-items: center;
  border-top: 0.25em solid white;
  border-radius: 0.25em;
}

.user-section__card--facebook {
  border-color: var(--facebook);
}

.user-section__card--twitter {
  border-color: var(--twitter);
}

.user-section__card--insta:before {
  content: "";
  height: 0.25em;
  width: 100%;
  background: var(--instagram);
  position: absolute;
  top: -0.25em;
  left: 0;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.user-section__card--youTube {
  border-color: var(--youTube);
}

.user-section__sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0;
}

.user-section__followers {
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
